<!DOCTYPE html>
<html xmlns="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="index"
>
<head>
    <meta charset="utf-8">
    <title>EDIT VILLE</title>
</head>
<body>
<div class="container mt-5" layout:fragment="content">
    <a class="btn btn-primary mt-5" th:href="@{listVilles}">Return to Ville Page</a>
    <div class="card">
        <div class="card-header">Remplissez le formulaire suivant pour modifier </div>
        <div class="card-body">

            <form th:action="@{updateVille}" method="post">
                <div class="form-group">
                    <label class="control-label">ID:</label>
                    <label class="control-label" th:text="${ville.id}"></label>
                    <input type="hidden" name="id" class="form-control" th:value="${ville.id}">
                </div>
                <div class="form-group">
                    <label class="control-label">Name:</label>
                    <input type="text" name="name" class="form-control" th:value="${ville.name}">
                    <span th:errors="${ville.name}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Longitude:</label>
                    <input type="number" name="longitude" class="form-control" th:value="${ville.longitude}">
                    <span th:errors="${ville.longitude}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Latitude:</label>
                    <input type="number" name="latitude" class="form-control" th:value="${ville.latitude}">
                    <span th:errors="${ville.latitude}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Altitude:</label>
                    <input type="number" name="altitude" class="form-control" th:value="${ville.altitude}">
                    <span th:errors="${ville.altitude}"></span>
                </div>
                <button class="btn btn-success" type="submit">Edit</button>


            </form>
        </div>

    </div>


</div>

</body>
</html>
