<!DOCTYPE html>
<html xmlns="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="index"
>
<head>
    <meta charset="utf-8">
    <title>Salles</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2>/listSalles</h2>
    <p>Page Salles </p>
    <form th:action="@{listSalles}" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="motCle" placeholder="Entrer un Mot clé" th:value="${motCle}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success" th:href="@{addSalle}">Add</a>
            </div>
        </div>
    </form>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nombre de places</th>
            <th>Cinema</th>
            <th>Ville</th>
            <th>Action</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${pageSalles}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.nombrePlaces}"></td>
            <td th:text="${p.cinema.name}"></td>
            <td th:text="${p.cinema.ville.name}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes vous sûre de vouloir supprimer ?')" th:href="@{deleteSalle/{id}(id=${p.id},page=${currentPage},size=${size},motCle=${motCle})}">Delete</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-warning" th:href="@{editSalle/{id}(id=${p.id})}">Update</a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')" ><a class="btn btn-primary" th:href="@{generatePlaces/{id}(id=${p.id})}">Générer les places</a></td>

        </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li th:class="${status.index==currentPage}? 'page-item active':'page-item' " th:each="page,status:${pages}">
            <a  class="page-link" th:href="@{listSalles(page=${status.index},size=${size},motCle=${motCle})}"
                th:text="${status.index}">
            </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>


</tbody>
</table>
</div>
</body>
</html>
